{% from "include/macros.j2" import
   bar_graph, counter, header, section, sources, timeline_graph
%}
{% extends "include/base.html.j2" %}


{% block notice %}
   <div class="bc19-c-dashboard__notice">
    <p>
     If your school or district isn't listed, I likely don't have access to
     any case data there. Schools report all cases to the health department,
     but <strong>health department data is not public and I do not have access
     to it</strong>.
    </p>
    <p>
     If you work at a school or district,
    <a href="https://chipx86.notion.site/Adding-Your-School-District-to-the-Dashboard-a9c30f414151410d98b149c0f716b813">let's get your data added here!</a>
    </p>
   </div>
{% endblock %}


{% block sections %}

{%  call header(id='overview-title') -%}
	 <div id="overview-title"></div>
{%-  endcall -%}

{%  call section(id='overview',
                 aria_label='Totals of school cases in the district',
				 has_counters=True) -%}

     {{counter(
         id='student-cases-counter',
         title='Student Cases',
         timestamp_key='schools',
         rel_days=[7, 14, 30],
         up_is_bad=True
     )}}

     {{counter(
         id='staff-cases-counter',
         title='Staff Cases',
         timestamp_key='schools',
         rel_days=[7, 14, 30],
         up_is_bad=True
     )}}

     {{counter(
         id='districts-with-cases-counter',
         title='Districts With Cases This Week',
         timestamp_key='schools',
         up_is_bad=True,
		 show_weeks=True
     )}}

     {{counter(
         id='schools-with-cases-counter',
         title='Schools With Cases This Week',
         timestamp_key='schools',
         up_is_bad=True,
		 show_weeks=True
     )}}
{%-  endcall -%}

{%  call section(id='overview-cases',
                 css_class='-has-side',
                 aria_label='Overview of cases') -%}
     <div class="bc19-c-dashboard__section-side">
      {{bar_graph(
          id='by_grade_level',
          title='% of Cases By Grade Level',
		  subtitle='Includes student and staff cases',
          timestamp_key='schools')
      }}

      {{bar_graph(
          id='by_district',
          title='% of Cases By District',
		  subtitle='Includes student and staff cases',
          timestamp_key='schools')
      }}
	 </div>

     <div class="bc19-c-dashboard__section-main">
      {{timeline_graph(
          data_id='total_cases_graph',
          title='Total Cases This School Year'
      )}}

      {{timeline_graph(
          data_id='new_cases_graph',
          title='New Cases This School Year'
      )}}
	 </div>
{%-  endcall -%}
{% endblock sections %}


{%-  block option_pane %}
   <div class="bc19-c-option-pane__option">
    <label for="year-selector">School year:</label>
    <select id="school-year"></select>
   </div>

   <div class="bc19-c-option-pane__option">
    <label for="date-selector">Show:</label>
    <select id="date-selector">
     <option value="all" selected>All cases</option>
     <option value="days-7">7 days</option>
     <option value="days-14">14 days</option>
     <option value="days-30">30 days</option>
     <option value="days-60">60 days</option>
     <option value="days-90">90 days</option>
     <option value="days-120">120 days</option>
     <option value="days-180">180 days</option>
    </select>
   </div>

   <div class="bc19-c-option-pane__option">
    <div class="bc19-c-option-pane__date-range">
     <input type="date" id="date-range-from" aria-label="Start of date range">
     ➝
     <input type="date" id="date-range-through" aria-label="End of date range">
    </div>
   </div>
{%-  endblock option_pane %}
