{# Macros -#}
{% macro section(css_class, aria_label, id='', has_counters=False) %}
   <section class="bc19-c-dashboard__section{% if has_counters %} -has-counters{% endif %} {{css_class}}"
{%- if id %}
            id="{{id}}"
{%- endif %}
            aria-label="{{aria_label}}">
    {{caller()}}
   </section>
{% endmacro -%}

{% macro header(css_class, aria_label, id='', title='') %}
   <header class="bc19-c-dashboard__header {{css_class}}"
{%- if id %}
           id="{{id}}"
{%- endif %}
           aria-label="{{aria_label}}">
{%- if title %}
    <h2>{{title}}</h2>
{%- endif %}
    {{caller()}}
   </header>
{% endmacro -%}

{% macro sources(sources) -%}
    <p class="bc19-c-dashboard__sources">
     <strong>{% if sources|length > 1 %}Sources{% else %}Source{% endif %}:</strong>
{%-  for name, url in sources %}
     <a href="{{url}}">{{name}}</a>{% if not loop.last %},{% endif %}
{%-  endfor %}
    </p>
{%- endmacro -%}

{% macro counter(id, title, timestamp_key, rel_days=[], bad=False,
                 up_is_bad=False) -%}
    <figure class="bc19-c-counter{% if bad %} -is-bad{% endif %}{% if up_is_bad %} -up-is-bad{% endif %}" id="{{id}}">
     <h3 class="bc19-c-counter__title">{{title}}</h3>
     <div class="bc19-c-counter__value">0</div>
     <div class="bc19-c-counter__relative">
      <span class="bc19-c-counter__relative-value">0</span>
      <span class="bc19-o-update-day" data-key="{{timestamp_key}}"></span>
     </div>
{%- for rel_day in rel_days %}
     <div class="bc19-c-counter__relative">
      <span class="bc19-c-counter__relative-value">0</span>
      last {{rel_day}} days
     </div>
{%- endfor %}
    </figure>
{%- endmacro -%}

{% macro bar_graph(id, title, timestamp_key) -%}
    <figure class="bc19-c-bar-graph -is-horiz" id="{{id}}">
     <h3 class="bc19-c-bar-graph__title">{{title}}</h3>
     <h4 class="bc19-c-bar-graph__subtitle">Updated <span class="bc19-o-update-day" data-key="{{timestamp_key}}"></span></h4>
    </figure>
{%- endmacro -%}

{% macro timeline_graph(data_id, title, subtitles=[], note='') -%}
    <figure class="bc19-c-timeline-graph">
     <h3 class="bc19-c-timeline-graph__title"
         id="{{data_id}}_label">{{title}}</h3>
{%- for subtitle in subtitles %}
     <h4 class="bc19-c-timeline-graph__subtitle">
      {{subtitle}}
     </h4>
{%  endfor %}
     <div id="{{data_id}}"
          aria-labelled-by="{{data_id}}_label"></div>
{%- if note %}
     <figcaption class="bc19-c-dashboard__note">
      {{- note}}
     </figcaption>
{%-  endif %}
    </figure>
{%- endmacro -%}
