@color-red: red;
@color-green: #26ab26;

@symbol-up-arrow: "▲ ";
@symbol-down-arrow: "▼ ";


body {
  background: #333;
  margin: 0;
  padding: 2em 2em 6em 2em;
  font-family: Sans-Serif;
  font-size: 14px;
}


a:link,
a:visited {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}


/*
 * Bar graph.
 */
.bc19-c-bar-graph {
  display: grid;
  margin: 0;
  padding: 1em;

  &.-is-horiz {
    grid-template-columns: 4em auto;
    align-items: center;

    .bc19-c-bar-graph {
      &__bar {
        border-radius: 0 10px 10px 0;
        padding-right: 5px;
        margin: 5px 0;
        grid-row: auto;
        grid-column: 2;
        min-width: 1.5em;
      }

      &__label {
        grid-column: 1;
        grid-row: auto;
        text-align: right;
      }

      &__rel-value {
        grid-column: 3;
        grid-row: auto;
        text-align: right;
      }
    }
  }

  &__bar {
    background: #4783EF;
    box-sizing: border-box;
    color: white;
    font-size: 70%;
    grid-area: bar;
    margin: 5px;
    padding: 3px;
    text-align: right;
    white-space: nowrap;
  }

  &__group {
    margin: 0 0.5rem;
  }

  &__label {
    font-size: 90%;
    grid-area: label;
    margin: 5px;
  }

  &__rel-value {
    font-size: 70%;

    &.-is-down {
      color: @color-green;

      &::before {
        content: @symbol-down-arrow;
        font-size: 80%;
        vertical-align: middle;
      }
    }

    &.-is-up {
      color: @color-red;

      &::before {
        content: @symbol-up-arrow;
        font-size: 80%;
      }
    }
  }

  &__title {
    color: #777;
    font-size: 120%;
    font-weight: normal;
    grid-column: 2 span;
    margin: 0 0 0.5em 0;
    padding: 0;
  }
}


/*
 * Counter graph.
 */
.bc19-c-counter {
  display: inline-block;
  margin: 1.5em;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;

  &.-up-is-bad &__relative.-is-down,
  &__relative.-is-up {
    .bc19-c-counter__relative-value {
      color: @color-green;
    }
  }

  &.-up-is-bad &__relative.-is-up,
  &__relative.-is-down {
    .bc19-c-counter__relative-value {
      color: @color-red;
    }
  }

  &.-is-good .bc19-c-counter__value {
    color: @color-green;
  }

  &.-is-bad .bc19-c-counter__value {
    color: @color-red;
  }

  &__relative {
    color: #777;
    line-height: 1.5em;
    vertical-align: bottom;
    white-space: nowrap;

    &.-is-unchanged,
    &.-is-up {
      .bc19-c-counter__relative-value::before {
        content: @symbol-up-arrow;
      }
    }

    &.-is-down .bc19-c-counter__relative-value::before {
      content: @symbol-down-arrow;
    }

    &.-is-unchanged {
     color: lightgrey;
    }
  }

  &__relative-value {
    font-weight: bold;

    &::before {
      display: inline;
      font-size: 60%;
    }
  }

  &__title {
    color: #777;
    font-size: 120%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  &__value {
    font-size: 500%;
  }
}


/*
 * Timeline graph
 */
.bc19-c-timeline-graph {
  margin: 1em 0 0 0;
  padding: 0 1em 0 0;

  & + & {
    margin-top: 2em;
  }

  .bb-xgrid-line {
    line {
      stroke: #999999;
    }

    text {
      fill: #AA3333;
      font-size: 11px;
      background: white;
      stroke-width: 3;
      stroke: white;
      stroke-opacity: 0.2;
    }
  }

  &__title {
    color: #777;
    font-size: 120%;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
  }

  &__subtitle {
    color: #666;
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 0.5em 0;
    padding: 0;
  }
}


/*
 * Main dashboard layout.
 */
.bc19-c-dashboard {
  background: white;
  display: grid;
  border: 1px #666 solid;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  grid-template-rows: auto;
  grid-template-columns: 20em auto;
  grid-template-areas:
    "intro intro"
    "case-counters case-counters"
    "cases-breakdown case-graphs"
    "more-graphs more-graphs"
    "viral-testing-info viral-testing-info"
    "viral-test-counters viral-test-counters"
    "population-test-counters population-test-counters"
    "viral-test-graphs viral-test-graphs"
    "footer footer";

  &.-is-loading {
    display: none;
  }

  &__footer {
    background: #F6F6F6;
    border-top: 1px #EEE solid;
    color: #666;
    margin-top: 2em;
    padding: 0.5em 0.5em 0.5em;
    text-align: center;
    grid-area: footer;

    nav a {
      display: block;
      padding: 1em 0;
    }
  }

  &__intro-info {
    overflow: hidden;
  }

  &__header {
    background: #ffeebc;
    border-top: 1px rgba(0, 0, 0, 0.4) solid;
    border-bottom: 1px rgba(0, 0, 0, 0.4) solid;
    margin: 0;
    padding: 2em;
    text-align: center;

    &:first-child,
    & + & {
      border-top: 0;
    }

    &.-is-intro {
      grid-area: intro;
      text-align: left;
      padding: 1em;

      h1, h2 {
        font-size: 180%;
      }

      h1 {
        display: inline-block;
      }

      h2 {
        display: inline-block;

        &:before {
          content: " — ";
        }
      }
    }

    &.-is-viral-testing-intro {
      grid-area: viral-testing-info;
      margin-top: 2em;
    }

    h1 {
      margin: 0.5em 0 0.5em 0;
      padding: 0;
    }

    h2 {
      margin: 0 0 0.5em 0;
      padding: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__logo {
    float: left;
    margin-right: 1.5em;
  }

  &__section {
    margin: 0;
    padding: 0;
    text-align: center;

    &.-has-counters {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .bc19-c-counter {
        flex: 1 1 0;
      }
    }

    &.-is-case-counters {
      grid-area: case-counters;
    }

    &.-is-case-graphs {
      grid-area: case-graphs;
    }

    &.-is-cases-breakdown {
      grid-area: cases-breakdown;
      padding-right: 1em;
    }

    &.-is-population-test-counters {
      grid-area: population-test-counters;
    }

    &.-is-viral-test-counters {
      grid-area: viral-test-counters;
    }

    &.-is-viral-test-graphs {
      grid-area: viral-test-graphs;
    }

    &.-is-more-graphs {
      grid-area: more-graphs;
    }

    &.-is-open {
      #more-graphs-expander {
        display: none;
      }

      #more-graphs-subsection {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: end;
      }
    }
  }
}


.bc19-c-option-pane {
  background: #FFF4DC;
  border-top: 1px #D8CFB2 solid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: center;

  &__date-range {
    display: none;
    margin-top: 1em;

    &.-is-shown {
      display: block;
    }
  }
}

.bc19-o-spinner {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 300 300' stroke-linejoin='round'%3E%3Cstyle%3E.a%7Bfill:%23d23d39;%7D.b%7Bfill:%23d23d39;stroke-width:2px;stroke:%2341100f;%7D%3C/style%3E%3Crect width='300' height='300' fill='none'/%3E%3Cg%3E%3Ccircle cx='149.5' cy='149.5' r='110.1'/%3E%3Cpath d='M122 184.7c0-2.6-2.1-4.7-4.8-4.7l-9.5 0c-2.6 0-4.8 2.1-4.8 4.8l0 59 19 0 0-59Z' class='a'/%3E%3Cpath d='M91.8 204.6c0-2.6-2.1-4.8-4.8-4.8l-9.5 0c-2.6 0-4.8 2.1-4.8 4.8l0 39 19 0 0-39Z' class='a'/%3E%3Cpath d='M152.2 184.7c0-2.6-2.1-4.7-4.8-4.7l-9.5 0c-2.6 0-4.8 2.1-4.8 4.8l0 59 19 0 0-59Z' class='a'/%3E%3Cpath d='M182.5 160.8c0-2.6-2.1-4.8-4.8-4.8l-9.5 0c-2.6 0-4.8 2.1-4.8 4.8l0 82.8 19 0 0-82.8Z' class='a'/%3E%3Cpath d='M212.7 122.6c0-2.6-2.1-4.8-4.7-4.8l-9.5 0c-2.6 0-4.7 2.1-4.7 4.8l0 121.1 19 0 0-121.1Z' class='a'/%3E%3Cpath d='M242.9 83.1c0-2.6-2.1-4.8-4.7-4.8l-9.5 0c-2.6 0-4.7 2.1-4.7 4.8l0 135.6 19 0 0-135.6Z' class='a'/%3E%3C/g%3E%3Cpath d='M149.5 27.4c-67.4 0-122.2 54.7-122.2 122.2 0 67.4 54.7 122.2 122.2 122.2 67.4 0 122.2-54.7 122.2-122.2 0-67.4-54.7-122.2-122.2-122.2Zm0 27.6c52.2 0 94.6 42.4 94.6 94.6 0 52.2-42.4 94.6-94.6 94.6 -52.2 0-94.6-42.4-94.6-94.6 0-52.2 42.4-94.6 94.6-94.6Z' style='fill:%23ffdc5c;stroke-width:2px;stroke:%23000'/%3E%3Cg%3E%3Cpath d='M149.5 257.9c2.2 0 19.4 29.7 18.2 31.6 -1.1 1.9-35.4 1.9-36.5 0 -1.1-1.9 16-31.6 18.2-31.6Z' class='b'/%3E%3Cpath d='M41.1 149.5c0 2.2-29.7 19.4-31.6 18.2 -1.9-1.1-1.9-35.4 0-36.5 1.9-1.1 31.6 16 31.6 18.2Z' class='b'/%3E%3Cpath d='M226.1 72.9c-1.6-1.6 7.3-34.7 9.4-35.2 2.1-0.6 26.4 23.7 25.8 25.8 -0.6 2.1-33.7 11-35.2 9.4Z' class='b'/%3E%3Cpath d='M72.9 72.9c-1.6 1.6-34.7-7.3-35.2-9.4 -0.6-2.1 23.7-26.4 25.8-25.8 2.1 0.6 11 33.7 9.4 35.2Z' class='b'/%3E%3Cpath d='M149.5 41.1c2.2 0 19.4-29.7 18.2-31.6 -1.1-1.9-35.4-1.9-36.5 0 -1.1 1.9 16 31.6 18.2 31.6Z' class='b'/%3E%3Cpath d='M257.9 149.5c0 2.2 29.7 19.4 31.6 18.2 1.9-1.1 1.9-35.4 0-36.5 -1.9-1.1-31.6 16-31.6 18.2Z' class='b'/%3E%3Cpath d='M72.9 226.2c-1.6-1.6-34.7 7.3-35.2 9.4 -0.6 2.1 23.7 26.4 25.8 25.8 2.1-0.6 11-33.7 9.4-35.2Z' class='b'/%3E%3Cpath d='M226.2 226.1c-1.6 1.6 7.3 34.7 9.4 35.2 2.1 0.6 26.4-23.7 25.8-25.8 -0.6-2.1-33.7-11-35.2-9.4Z' class='b'/%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 150 150' to='360 150 150' dur='5.0s' repeatCount='indefinite'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


#more-graphs-expander {
  background: #4989E8;
  border-radius: 10px;
  color: white;
  display: block;
  margin: 2em 2em 0 2em;
  padding: 1.5em;
  text-align: center;
  text-decoration: none;
}

#more-graphs-subsection {
  display: none;

  .bc19-c-timeline-graph {
    flex: 1 1 0;
  }
}

#twitter-widget-0,
.twitter-follow-button {
  color: blue;
  text-decoration: none;
}


/*
 * Mobile rules.
 */
@media only screen and (max-width: 800px) {
  body {
    padding: 0;
  }

  .bc19-c-dashboard {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    grid-template-columns: auto;
    grid-template-areas:
      "intro"
      "case-counters"
      "cases-breakdown"
      "case-graphs"
      "more-graphs"
      "viral-testing-info"
      "viral-test-counters"
      "population-test-counters"
      "viral-test-graphs"
      "footer";

      padding-bottom: 2em;

    &__header {
      &.-is-intro {
        padding: 2em;

        h1 {
          display: block;
          font-size: 140%;
          margin: 0;
          padding: 0;
        }

        h2 {
          display: block;
          font-size: 120%;
          margin-top: 1em;
          overflow: hidden;

          &:before {
            content: "";
          }
        }
      }

      p {
        line-height: 1.5;
        text-align: justify;

        &:first-of-type {
          margin-top: 2em;
        }
      }
    }

    &__intro-info {
      overflow: visible;
    }

    &__logo {
      width: 80px;
      height: 80px;
    }

    &__section.-is-more-graphs.-is-open #more-graphs-subsection {
      grid-template-columns: 100%;
    }
  }

  .bc19-c-timeline-graph {
    padding-left: 2em;
    padding-right: 3em;
  }
}

@media only screen and (max-width: 600px) {
  .bc19-c-timeline-graph {
    padding-left: 1em;
    padding-right: 2em;
  }
}
